@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");


/* body {
  background-image: url("../images/patterns/what-the-hex-dark.png");
} */

.ne-table {
  font-family: Lato, Arial, sans-serif;
  font-size: 100%;
  background-color: #171717;
  color: #aaa;
  /* border: 1px solid green;  */
  width: 100%;
}

.ne-table .ne-main-row {
  font-size: 100%;
  font-weight: bold;
  padding-top: 100px;
  height: 30px;
  vertical-align: bottom;
  color: #ddd
}


.ne-table .ne-row {
  font-weight: normal;
}

/* .ne-table .ne-cell {
   border: 1px solid yellow;
} */

.ne-table td:nth-of-type(1) {
  width: 30px;
}

.ne-table td:nth-of-type(2) {
  width: 60px;
  text-align: right;
}

.ne-table td:nth-of-type(3) {
  width: 1px;
  min-width: 300px;
  white-space: nowrap;
}

.ne-table td:nth-of-type(4) {
  width: 80px;
  text-align: right;
}

.ne-table td:nth-of-type(5) {
  width: 50px;
  text-align: right;
}

.ne-table td:nth-of-type(6) {
    width: auto;
}


.ne-content {
     padding-top: 70px;
} 

.ne-sticky {
    background: #171717;
    width: 100%;
    z-index: 1;
    /* border: 2px solid green; */
}

.ne-fixed {
    position: fixed;

  }

.ne-progress-container {
    height: 3px;
    background: #171717;
    margin-bottom: 8px;
  }
  
  .ne-progress-bar {
    height: 3px;
    background: #9146FF;
    width: 0%;
  }